<!-- MAIN -->
<main>
  <style>
    .active {
      background-color: #ff523b;
    }
    .active a {
      color: white;
    }
    h4 {
      text-overflow: ellipsis;
      overflow: hidden;
      height: 22px;
      white-space: nowrap;
    }
    span a {
      color: black;
    }
    button {
      cursor: pointer;
    }
    .small-container {
      margin-top: -50px;
    }
    .row-2 {
      margin-top: 50px;
    }
  </style>

  <div class="small-container">
    <div class="row row-2">
      <h2><%= category %></h2>
      <select>
        <option>Default sort</option>
        <option>Sort by price</option>
        <option>Sort by rating</option>
        <option>Sort by sale</option>
      </select>
    </div>

    <% for( let index = 1; index < 13; index += 4 ) { %>

    <div class="row">
      <% for( let i = index; i < index + 4 ; i++ ) { %>
      <b></b>
      <% if (productData[i]) { %>
      <div class="col-4">
        <form action="/product" method="get">
          <input type="hidden" name="id" value="<%= productData[i].id %>" />
          <button type="submit">
            <img src="/images/category/<%= productData[i].imagePath %> " />
          </button>
        </form>
        <h4><%= productData[i].title %></h4>
        <b>$<%= productData[i].price %></b>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div>
      </div>

      <% } %>
      <b></b>
      <% } %>
    </div>

    <% } %>

    <!--     =====================================    -->

    <div class="row">
      <div class="page-btn">
        <% if (page > 1) { %> <% var last = page-1 %> <% }else{ last = 1 } %>

        <span i
          ><a href="/?category=<%= categoryLink %>&page=<%= last %>"
            >&#8592;</a
          ></span
        >

        <b></b>
        <% if (page < 16) { %> <% var next = page + 1 %> <% }else{var next =
        page} %>

        <span>
          <a href="/?category=<%= categoryLink %>&page=<%= next %>">&#8594;</a>
        </span>
      </div>
    </div>
  </div>
</main>

<script>
  function myFuncNex() {
    for (var i = 1; i < 5; i++) {
      if (document.getElementById(i.toString()).className == "active") {
        document.getElementById(i.toString()).className = "";
        document.getElementById((i + 1).toString()).className += "active";
        break;
      }
    }
  }

  function myFunc(id) {
    for (var i = 1; i <= 5; i++) {
      document.getElementById(i).classList.remove("active");
    }
    document.getElementById(id).className += "active";
  }
</script>

<script>
  //  remove active class
  function removeActive() {
    for (var i = 1; i <= 5; i++) {
      document.getElementById(i).classList.remove("active");
    }
  }

  //  add active class
  function addActive(id) {
    removeActive();
    document.getElementById(id).className += " active";
  }
</script>
<!-- MAIN -->
