<!-- MAIN -->
<style>
  .single-product {
    margin-top: 40px;
  }
  form .btn {
    width: 50%;
  }
</style>
<div class="small-container single-product">
  <div class="row">
    <div class="col-2">
      <img
        src="/images/<%= product.imagePath %>"
        width="100%"
        id="product-img"
      />
    </div>
    <div class="col-2">
      <h5>Home / <%= product.category %></h5>
      <br />
      <h2><%= product.title %></h2>
      <h4>$ <%= product.price %></h4>

      <form action="/cart/addToCart" method="post">
        <input type="hidden" name="id" value="<%= product.id %>" />
        <!-- <input type="number" name="amount" value="1" min="1" /> -->
        <button type="submit" class="btn">Add To Cart</button>
      </form>

      <br />

      <h3>Product Details <i class="fa fa-indent"></i></h3>
      <br />
      <p>
        Give your summer wardrobe a style upgrade with HRX Men's active T-shirt.
        Team it with a pair of shorts for your morining workout or a denims for
        an evening out with the guys.
      </p>
    </div>
  </div>
</div>

<!-- MAIN -->
