<!-- MAIN -->
<style>
  .single-product {
    margin-top: 40px;
  }
  form .btn {
    width: 50%;
  }
  textarea {
    width: 465px;
    height: 86px;
    resize: none;
    font-size: 13px;
    padding: 10px;
  }
  form .price {
    width: 105px;
    height: 60px;
    padding-left: 20px;
  }
  form .delete {
    margin-left: 35px;
    width: 400px;
    height: 50px;
    background-color: hsl(1deg 61% 47%);
    font-size: 20px;
  }

  form .file {
    margin-left: 20px;
    width: 135px;
    height: 50px;
    cursor: pointer;
    font-size: 15pt;
    border: none;
  }

  form .edit {
    margin-left: 35px;
    width: 400px;
    height: 50px;
    background-color: hsl(35deg 83% 53%);
    font-size: 20px;
  }
</style>

<div class="small-container single-product">
  <div class="row">
    <div class="col-2">
      <img
        src="/images/productDetails/<%= product.imagePath %>"
        width="100%"
        id="product-img"
        alt="No Image"
      />
    </div>
    <div class="col-2">
      <h5>Home / <%= product.category %></h5>
      <br />
      <% if (isAdmin) { %>
      <form
        action="/product/editProduct"
        method="post"
        enctype="multipart/form-data"
      >
        <textarea name="title"><%= product.title %></textarea>
        <div>
          <label for="" style="margin-right: 202px; font-size: 25px"
            >Change price</label
          >
          <input
            class="price"
            type="number"
            name="price"
            value="<%= product.price %>"
          />
        </div>
        <div>
          <label for="" style="margin-right: 171px; font-size: 25px"
            >Change amount</label
          >
          <input
            class="price"
            type="number"
            name="amount"
            value="<%= product.amount %>"
            min="0"
          />
        </div>

        <div>
          <label for="" style="margin-right: 140px; font-size: 25px"
            >Change image</label
          >
          <input type="file" class="file" name="image" />
        </div>

        <input type="hidden" name="id" value="<%= product.id %>" />
        <button type="submit" class="edit btn">Save</button>
      </form>
      <br />
      <hr />
      <br />

      <form action="/product/deleteProduct" method="post">
        <input type="hidden" name="id" value="<%= product.id %>" />
        <button type="submit" class="delete btn">Delete this product</button>
      </form>

      <% }else{ %>
      <h2><%= product.title %></h2>
      <h4>EGP <%= product.price %></h4>
      <form action="/cart/addToCart" method="post">
        <input type="hidden" name="id" value="<%= product.id %>" />
        <button type="submit" class="btn">Add To Cart</button>
      </form>
      <% } %>
      <br />
    </div>
  </div>
</div>

<!-- MAIN -->
