<!-- MAIN -->
<style>
  .cart-item-title {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  form .btn-danger {
    width: 120px;
    height: 35px;
    padding: 8px 2px ;
    background-color: hsl(1deg 61% 47%);
    font-size: 18px;
  }
  
  form .btn-purchase{
    background-color: #3c91e6;
  }
  tr th{
    background-color: #3c91e6;

  }
  
</style>

<div class="small-container cart-page">
  <form action="/cart/buy" method="post" id="purchase">
    <table class="cart-items">
      <tr>
        <th>product</th>
        <th>quantity</th>
        <th>subtotal</th>
      </tr>
      <% var totalPrice = 0; var cart = [] %>
      <b>
      <% for( let i = 0; i < cartItems.length; i++ ) { %>

      <tr class="cart-row">
        <td>
          <div class="cart-info">
            <img src="images/cart/<%= cartItems[i].imagePath %>" />
            <div>
              <p class="p-ti cart-item-title"><%= cartItems[i].title %></p>
              <form action="/cart/remove" method="post" id="remove">
                <input type="hidden" name="id" value="<%= cartItems[i].id %> " />
                <button class="btn btn-danger" type="submit" formaction= '/cart/remove' >remove</button>
              </form>
            </div>
          </div>
        </td>
        <td><input class="cart-quantity-input" type="number"
          max="<%= cartItems[i].amount %>" value="1" name="amount" /></td>

        <input type="hidden" name="title" value="<%= cartItems[i].title %>" />
        <input type="hidden" name="price" value="<%= cartItems[i].price %>" />
        <input type="hidden" name="imagePath" value="./public/images/cart/<%= cartItems[i].imagePath %>" />

        <td class="cart-price"> <%= cartItems[i].price %> EGP</td>
        <% totalPrice += cartItems[i].price; cart.push(cartItems[i].id)  %>
      </tr>

      <% } %>
    </table>

    <div class="total-price">
      <table>
        <tr>
          <td>total price</td>
          <td class="cart-total-price"><%= totalPrice %></td>
          <td>
            <input type="hidden" name="cart" value="<%= cart %>" />
            <% if (cartItems[0]) { %>
              <button class="btn btn-primary btn-purchase" type="submit" formaction="/cart/buy">
                PURCHASE
              </button>
            <% } else{ %>
              <button disabled class="btn btn-primary btn-purchase" type="submit" >
                PURCHASE
              </button> 
            <% } %>
          </td>
        </tr>
      </table>
    </div>

  </form>
</div>

<!-- MAIN -->
<script src="/js/cart.js" async></script>
